/* General */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style-type: none;
}

body {
	background: #FFF;
}

/* Close General */

/* Header */

.head-top {
	padding-left: 60px !important;
}

.head-top h5 {
	color: #d4d4d4;
	font-size: 9px;
}

.header {
	padding: 0;
}

.header .header-wrapper {
	background: url(images/head.bck.jpg) no-repeat;
	background-size: 100%;
	padding: 0;
	height: 730px;
}


.header-wrapper .menu-container {
	margin: 30px 0 0 0;
	background-color: rgba(86,53,96, 0.9);
	min-height: 66px;
}

.menu-container .logo-container {
	padding: 0;
}

.logo-container .logo {
	padding: 0;
	display: inline-block;
	float: left;
}

.logo img {

}

.logo-container .title-container {
	padding: 0 0 0 5px;
	min-height: 66px;
}

.title-container h1 {
	color: #FFF;
	margin: 0;
	font-size: 25px;
    padding-top: 8px;
}

.title-container h4 {
	color: #f2f2f2;
	margin: 0;
    font-size: 17px;
}

#menu {
	min-height: 66px;
}

#menu .menu-wrapper {
	padding-top: 20px;
}

#menu .menu-wrapper .menu-item {
	display: inline-block;
}

.menu-wrapper .menu-item a {
	color: #FFF;
	cursor: pointer;
	text-decoration: none;
}

.menu-wrapper .menu-item:not(:first-child) {
	padding-left: 15px;
}

.menu-wrapper .menu-item img {
	width: 15px;
}

.blank-big {
	height: 290px;
}

.header-wrapper .donation-container {

}

.donation-container .title {
	padding-bottom: 10px;
}

.donation-container .title h3 {
	color: #FFF;
	font-size: 60px;
	font-weight: 600;
	margin: 0;
}

#button {
	background: #CC249E;
	text-align: center;
	width: 270px;
	padding: 2px;
	cursor: pointer;
}

#button a {
	color: #FFF;
	font-weight: 600;
	text-decoration: none;
	font-size: 22px;
}


.header-information {

}

.header-information .title {
	padding-bottom: 20px;
}

.header-information .title h3 {
	font-weight: 600;
	color: #484848;
	font-size: 22px;
}

.header-information .info p {
	padding-top: 10px;
	color: #787878;
}

.header-information #button {
	margin: 40px auto 0 auto;
}

/* Close Header */

/* Body */

.main {
	padding-top: 0;
	margin-top: -20px;
	opacity: 0.99;
}

.membership-container {
	background: url(images/body.bck.png) no-repeat;
	background-size: 100%;
	height: 760px;
}

.membership-container .content-wrapper {

}

.content-wrapper .info-container {
	padding-top: 170px;
}

.content-wrapper .info-container h3 {
	color: #FFF;
	font-weight: 600;
}

.content-wrapper .info-container p {
	color: #FFF;
	letter-spacing: 0.5px;
	line-height: 20px;
	padding-top: 30px;
}


.register-container {
	padding-top: 20px;
}

.register-container .input-wrapper {
	padding: 15px 0 0 0;	
}

.register-container .input-wrapper input {
	background: none;
	border: 1px solid #CC249E;
	padding-left: 15px;
}

.register-container .input-wrapper select {
	background: none;
	border: 1px solid #CC249E;
}


.register-container .options-wrapper {
	padding: 15px 0 0 0;
}

.register-container .options-wrapper h4 {
	font-size: 14px;
	margin: 0;
	padding-right: 20px;
}

.btn-input {
	padding: 15px 15px 0 0 !important; 
}

.btn-input input {
	background: #CC249E;
	border: none;
	width: 100%;
	color: #FFF;
	font-weight: 600;
	font-size: 16px;
	padding: 2px;
}

.main .header-information {
	padding-bottom: 40px;
}

.cats-container {
	padding-bottom: 50px;
}

.cats-container h3 {
	font-weight: 600;
    color: #484848;
    font-size: 22px;

}

.cats-container .wrapper {
	padding: 0;
}

.cats-container .wrapper .wrapper-item {
	position: relative;
	padding: 15px 15px 0 0;
}

.wrapper .wrapper-item img {
	width: 100%;
	height: 165px;
}

.wrapper .wrapper-item .more {
	width: 20px;
	height: 20px;
	background: #CC249E;
	text-align: center;
	position: absolute;
	bottom: 5px;
	right: 20px;
	cursor: pointer;
}

.wrapper-item .more span {
	color: #FFF;
	font-weight: 600;
}

.blank-sm {
	height: 100px;
}

.events-container {

}

.events-container .wrapper {
	padding-top: 30px;
	padding-left: 0;
	padding-bottom: 30px;
	padding-right: 0;
}

.events-container .wrapper .item-wrapper {
	padding-left: 0;
	padding-right: 15px;
}

.wrapper .item-wrapper .item-header {
	padding: 0;
	height: 172px;
}

.item-wrapper .item-header img {
	width: 100%;
	height: 172px;
}

.wrapper .item-wrapper .item-info {
	border: 1px solid #E6E6E6;
	padding-bottom: 30px;
}

.item-wrapper .item-info h3 {
	font-size: 20px;
	font-weight: 600;
	color: #424242;
}

.item-wrapper .item-info p {
	color: #585858;
}

.wrapper .item-wrapper .item-footer {
	border-left: 1px solid #E6E6E6;
	border-right: 1px solid #E6E6E6;
	border-bottom: 1px solid #E6E6E6;
	padding-right: 0;
}

.item-wrapper .item-footer a {
	font-size: 15px;
	font-weight: 600;
	color: #CC249E;
	margin: 0;
	display: inline-block;
	vertical-align: -webkit-baseline-middle;
	text-decoration: none;
}

.item-wrapper .item-footer .more {
	width: 30px;
	height: 30px;
	background: #CC249E;
	display: inline-block;
	text-align: center;
	float: right;
	cursor: pointer;
}

.item-footer .more span {
	color: #FFF;
	font-weight: 600;
	vertical-align: -webkit-baseline-middle;
}

/* Close Boldy */

/* Footer */



.footer {
	padding-top: 30px;
}

.footer .sm-black {
	height: 30px;
	background: #11161C;
	padding-top: 20px;
}

.footer .content-wrapper {
	background: url(images/African-lion-bones-hunting.jpg) no-repeat;
	background-size: 100%;
	height: 900px;
}

.content-wrapper .content {
	padding-top: 80px;
}

.content .title-container h3 {
	font-weight: 600;
    color: #FFF;
    font-size: 26px;
}

.content-wrapper .content .info-container {
	padding: 20px 0 0 0;
}

.content .info-container h4 {
	font-weight: 600;
	margin-bottom: 10px;
	color: #FFF;
}

.content .info-container p {
	padding: 0;
	color: #FFF;
}

.info-container .offer {

}

.info-container .offer img {
	width: 20px;
	display: inline-block;
}

.info-container .offer p {
	display: inline-block;
}

.info-container .contact {
	padding-top: 30px;
}

.contact h3 {
    font-family: sans-serif;
    color: #FFF;
    font-size: 22px;
    font-weight: 600;
}

.content .message-container {
	padding-top: 20px;
}

.content .message-container input {
	margin-top: 20px;
	background: none;
	border: 1px solid #CC249E;
    padding-left: 15px;
}

.content .message-container textarea {
	margin-top: 20px;
	background: none;
	border: 1px solid #CC249E;
	height: 120px;
}

.footer .btn-footer {
	background: #CC249E;
	text-align: center;
	margin-top: 20px;
	float: right;
}

.footer .btn-footer input {
	color: #FFF;
	font-weight: 600;
	margin: 0;
	padding: 0;
	font-size: 16px;
}

.footer-wrapper {
	margin-top: 60px;
}

.footer-wrapper .legal {
	padding-left: 50px;
}

.footer-wrapper .legal span {
	color: #FFF;
}

.footer-wrapper span:first-child {
	padding-right: 5px;
	border-right: 1px solid #FFF;
}

.footer-wrapper .social-media {
	padding-left: 50px;
}

.footer-wrapper .social-media img {
	width: 20px;
	cursor: pointer;
	margin-left: 10px;
}

/* Close Footer */